.heading-second {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 20vh;
    /* border: 1px solid #000; */
}
.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
}
.text-header {
    width: 10%;
    margin-right: 200px;
    color: #8a95a0;
    float: left;
}

.header-second-content {
    background-image: url(/images/01_Pondit_Homepage-secondary-logo2.png);
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 30px;
}
.button-one {
    background-color: white;
    border: none;
    font-size: 1.2em;
    color: #8a95a0;
}
.button-two {
    background-color: white;
    border: 1px solid #0288d1;
    padding: 10px 15px 10px 15px;
    font-size: 1.2em;
    font-weight: 500;
    color: #0288d1;
    border-radius: 30px;
}
.navbar-main {
    background-color: #ebebeb;
}
.navbar-third {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: 1px solid #000; */
}
.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #d7d7d7;
}
.nav-p {
    color: black;
}
.nav-p:hover {
    color: #0288d1;
}
.homepage-content-special {
    width: 100%;
    height: 100vh;
}
.homepage-content-career-main-homepage {
    width: 100%;
    height: 90vh;
    /* border: 1px solid #000; */
    overflow: hidden;
}
.career-second {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.career-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid #000; */
}
.career-title {
    margin-top: -180px;
    color: #0288d1;
}
.career-image1 {
    margin-top: 75px;
}
.career-image2 {
    margin-top: -500px;
    width: 90%;
}
.career-image3 {
    margin-right: 200px;
    margin-top: -630px;
    margin-left: 100px;
}
.assess-main {
    width: 100%;
    height: 90vh;
    /* border: 1px solid #000; */
    margin-top: -305px;
    /* background-image: url(/images/01_Pondit_Homepage_line_2.png); */
    background-repeat: no-repeat;
    background-position: 25% 10%;
    z-index: -1;
}
.assess-main-img {
    position: relative;
    left: 330px;
    bottom: 40px;
    z-index: 5;
}
.access-first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    right: 45px;
    top: -650px;
}
.assess-title {
    position: relative;
    left: 900px;
    bottom: 10px;
    color: #0288d1;
    font-weight: 400;
}
.access-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid #000; */
    width: 100%;
}
.access-core {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid #000; */
}
.pencil_man {
    width: 70%;
    height: 50vh;
    background-image: url("/images/01_Pondit_Homepage_pencil_man-BG.png");
    position: relative;
    left: 140px;
    background-repeat: no-repeat;
    background-position: center;
}
.skill-main {
    position: relative;
    bottom: 250px;
    width: 100%;
    height: 60vh;
    /* border: 1px solid #000; */
    background-image: url("/images/01_Pondit_Homepage_skill_bg.png");
}
.skill-title {
    position: relative;
    left: 660px;
    top: 25px;
}
.skill-slides {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid #000; */
}

.svg-img {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.line_4 {
    position: relative;
    top: -155px;
    right: -430px;
}
.skill_svg {
    position: relative;
    top: -255px;
    left: -155px;
}
.student-main {
    width: 100%;
    height: 58vh;
    /* border: 1px solid #000; */
    position: relative;
    top: -250px;
    background-image: url("/images/01_Pondit_Homepage_student_shap.png");
    background-repeat: no-repeat;
    background-position: 0% 25%;
}

.student-second {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid #000; */
    position: relative;
    top: 100px;
    grid-gap: 30px;
    left: -100px;
}
.student-social-links i {
    font-size: 25px;
    border: 1px solid #f3f3f3;
    padding: 10px;
    border-radius: 50%;
    color: #637280;
}
.student-social-links i:hover {
    background-color: #0288d1;
    color: #fff;
}
.student-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    background: #ffffff;
    -webkit-box-shadow: 12px 12px 24px #f2f2f2, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #f2f2f2, -12px -12px 24px #ffffff;
}
:root {
    --fir-font-article: "adobe-garamond-pro", "Times New Roman", Times;
    --fir-font-header: "foco", Helvetica;
    /* --fir-blue-twitter-alpha: rgba(85, 172, 238, 0.6); */
    --fir-color-grey: rgba(0, 0, 0, 0.4);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.fir-clickcircle {
    height: 80px;
    width: 80px;
    border-radius: 100px;
    cursor: pointer;
}

.fir-image-figure {
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    text-decoration: none;
}

.fir-image-figure .caption,
.fir-image-figure figcaption {
    padding-left: 15px;
}

html.wf-active .fir-image-figure .fig-author-figure-title {
    font-family: var(--fir-font-header);
    font-size: 16px;
}

.fir-image-figure .fig-author-figure-title {
    color: var(--fir-color-grey);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 2px;
}

.fir-imageover {
    position: relative;
    display: flex;
}

.fir-imageover-color {
    height: 80px;
    width: 80px;
    position: absolute;
    /* background: var(--fir-blue-twitter-alpha); */
    background-image: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    animation: fadeInFadeOut 2s infinite;
    top: 0;
    left: 0;
}

.fir-imageover-image {
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeInFadeOut 2s infinite;
}

@keyframes fadeInFadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.student-title {
    color: #0288d1;
}
.student-btn {
    width: 300px;
    height: 50px;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    background-color: #fff;
}
.fa-long-arrow-alt-right {
    color: #0288d1;
}
.partner-main {
    width: 100%;
    height: 30vh;
    /* border: 1px solid #000; */
    position: relative;
    top: -200px;
}
.partner-second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.partner-title {
    font-weight: 300;
    color: #0288d1;
}
.fa-chevron-circle-left {
    font-size: 3rem;
}
.fa-chevron-circle-right {
    font-size: 3rem;
}
.partner-btn {
    background-color: #fff;
    border: none;
}
.all-partners {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px;
    margin-top: 150px;
    /* border: 1px solid #000; */
    width: 100%;
    height: 100px;
}
.partners {
    /* border: 1px solid #000; */
    background-color: #e1e1e1;
}
.contact-main {
    width: 100%;
    height: 90vh;
    /* border: 1px solid #000; */
    background-repeat: no-repeat;
    background-image: url("/images/01_Pondit_Homepage_contact_map.png");
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid #000; */
}
.location {
    /* border: 1px solid #000; */
    width: 70%;
    height: 70vh;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    background: #ffffff;
    -webkit-box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
}
.contact-us {
    /* border: 1px solid #000; */
    width: 100%;
    height: 70vh;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    background: #ffffff;
    -webkit-box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
}
.about-location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.fa-location-arrow {
    font-size: 1.3rem;
}
/* .input-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
.sub-input-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: 62, 5%;
}

.form__label {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
}

.form__input {
    font-family: "Roboto", sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    border: 1px solid #ebebeb;
}

.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.submit-btn {
    font-family: "Ubuntu", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 170px;
    height: 40px;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 3px solid #8c82fc;
    background: #fff;
    color: #8c82fc;
    border-radius: 40px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.35s;
}

.submit-btn:hover {
    background: #8c82fc;
    color: #fff;
}

.submit-btn .submit-span {
    opacity: 1;
    visibility: visible;
    transition: all 0.35s;
}

.success {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s;
}

.success svg {
    width: 20px;
    height: 20px;
    fill: yellowgreen;
    transform-origin: 50% 50%;
    transform: translateY(-50%) rotate(0deg) scale(0);
    transition: all 0.35s;
}

.submit-btn.is_active {
    width: 40px;
    height: 40px;
}

.submit-btn.is_active .success {
    opacity: 1;
    visibility: visible;
}

.submit-btn.is_active .success svg {
    margin-top: 50%;
    transform: translateY(-50%) rotate(720deg) scale(1);
}

.submit-btn.is_active .submit-span {
    opacity: 0;
    visibility: hidden;
}
.footer-main {
    position: relative;
    top: -50px;
    width: 100%;
    height: 45vh;
    /* border: 1px solid #000; */
    background-image: url("/images/01_Pondit_Homepage_footer_bg.png");
    background-repeat: no-repeat;
    background-position: 50% 10%;
}
.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
