* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* max-width: 100%; */
}

.heading-second {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 20vh;
    /* border: 1px solid #000; */
}
.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
}
.text-header {
    width: 10%;
    margin-right: 200px;
    color: #8a95a0;
    float: left;
}

.header-second-content {
    background-image: url(/images/01_Pondit_Homepage-secondary-logo2.png);
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 30px;
}
.button-one {
    background-color: white;
    border: none;
    font-size: 1.2em;
    color: #8a95a0;
}
.button-two {
    background-color: white;
    border: 1px solid #0288d1;
    padding: 10px 15px 10px 15px;
    font-size: 1.2em;
    font-weight: 500;
    color: #0288d1;
    border-radius: 30px;
}
.navbar-main {
    background-color: #ebebeb;
}
.navbar-third {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: 1px solid #000; */
}
.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #d7d7d7;
}
.nav-p {
    color: black;
}
.nav-p:hover {
    color: #0288d1;
}
.homepage-content-special {
    width: 100%;
    height: 100vh;
}
.homepage-content-special {
    max-width: 100%;
    height: 90vh;
    background-image: url(/images/01_Pondit_Homepage_Updated_homePage.png);
    object-fit: cover;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.about-pondit {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.short-pondit {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
}
.one-off {
    position: relative;
    top: 200px;
    left: 65px;
}
.path-title {
    font-size: 1.3rem;
    color: #ea9722;
}
.BOT {
    text-decoration: none;
}
.two-off {
    position: relative;
    top: 100px;
    left: 100px;
}
.self-title {
    font-size: 1.3rem;
    color: #eb483d;
}
.three-off {
    position: relative;
    top: 650px;
    right: 120px;
}
.improve-title {
    font-size: 1.3rem;
    color: #1abdd4;
}
.four-off {
    position: relative;
    top: 550px;
    right: 120px;
    width: 100%;
}
.grow-para {
    position: relative;
    left: 110px;
}
.grow-para-sub-1 {
    position: relative;
    left: 110px;
}
.grow-title {
    margin-left: 80px;
    font-size: 1.3rem;
    color: #54b947;
}
.grow-para {
    position: relative;
    left: px;
}
.homepage-content-career-main-homepage {
    width: 100%;
    height: 90vh;
    /* border: 1px solid #000; */
    overflow: hidden;
}
.career-second {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.career-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid #000; */
}
.career-title {
    margin-top: -180px;
    color: #0288d1;
}
.career-image1 {
    margin-top: 130px;
}
.career-image2 {
    margin-top: -500px;
    width: 90%;
}
.career-image3 {
    margin-right: 200px;
    margin-top: -630px;
    margin-left: 100px;
}
.assess-main {
    position: relative;
    width: 100%;
    height: 90vh;
    /* border: 1px solid #000; */
    margin-top: -250px;
    background-repeat: no-repeat;
    background-position: 25% 10%;
    z-index: -1;
}
.assess-main-img {
    position: relative;
    left: 330px;
    bottom: 40px;
    /* z-index: 5; */
}
.access-first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    right: 45px;
    top: -650px;
}
.assess-title {
    position: relative;
    left: 900px;
    bottom: 10px;
    color: #0288d1;
    font-weight: 400;
}
.access-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid #000; */
    width: 100%;
}
.access-core {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid #000; */
}
.pencil_man {
    width: 70%;
    height: 50vh;
    background-image: url("/images/01_Pondit_Homepage_pencil_man-BG.png");
    position: relative;
    left: 140px;
    background-repeat: no-repeat;
    background-position: center;
}
.skill-main {
    position: relative;
    bottom: 250px;
    width: 100%;
    height: 60vh;
    /* border: 1px solid #000; */
    /* background-image: url("/images/01_Pondit_Homepage_skill_bg.png"); */
    z-index: -1;
}
.skill-title {
    position: relative;
    left: 660px;
    top: 25px;
}
.skill-slides {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid #000; */
}

.svg-img {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.line_4 {
    position: relative;
    top: -125px;
    right: -430px;
}
.skill_svg {
    position: relative;
    top: -255px;
    left: -155px;
}
.student-main {
    width: 100%;
    height: 58vh;
    /* border: 1px solid #000; */
    position: relative;
    top: -250px;
    background-image: url("/images/01_Pondit_Homepage_student_shap.png");
    background-repeat: no-repeat;
    background-position: 0% 25%;
}

.student-second {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid #000; */
    position: relative;
    top: 100px;
    grid-gap: 30px;
    left: -100px;
}
.student-title {
    margin-top: 50px;
}
.student-social-links i {
    font-size: 25px;
    border: 1px solid #f3f3f3;
    padding: 10px;
    border-radius: 50%;
    color: #637280;
}
.student-social-links i:hover {
    background-color: #0288d1;
    color: #fff;
}
.student-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    background: #ffffff;
    -webkit-box-shadow: 12px 12px 24px #f2f2f2, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #f2f2f2, -12px -12px 24px #ffffff;
}
:root {
    --fir-font-article: "adobe-garamond-pro", "Times New Roman", Times;
    --fir-font-header: "foco", Helvetica;
    /* --fir-blue-twitter-alpha: rgba(85, 172, 238, 0.6); */
    --fir-color-grey: rgba(0, 0, 0, 0.4);
}

.fir-clickcircle {
    height: 80px;
    width: 80px;
    border-radius: 100px;
    cursor: pointer;
}

.fir-image-figure {
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    text-decoration: none;
}

.fir-image-figure .caption,
.fir-image-figure figcaption {
    padding-left: 15px;
}

html.wf-active .fir-image-figure .fig-author-figure-title {
    font-family: var(--fir-font-header);
    font-size: 16px;
}

.fir-image-figure .fig-author-figure-title {
    color: var(--fir-color-grey);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 2px;
}

.fir-imageover {
    position: relative;
    display: flex;
}

.fir-imageover-color {
    height: 80px;
    width: 80px;
    position: absolute;
    /* background: var(--fir-blue-twitter-alpha); */
    background-image: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    animation: fadeInFadeOut 2s infinite;
    top: 0;
    left: 0;
}

.fir-imageover-image {
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeInFadeOut 2s infinite;
}

@keyframes fadeInFadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.student-title {
    color: #0288d1;
}
.student-btn {
    width: 300px;
    height: 50px;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    background-color: #fff;
}
.fa-long-arrow-alt-right {
    color: #0288d1;
}
.partner-main {
    width: 100%;
    height: 30vh;
    /* border: 1px solid #000; */
    position: relative;
    top: -200px;
}
.partner-second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.partner-title {
    font-weight: 300;
    color: #0288d1;
}
.fa-chevron-circle-left {
    font-size: 3rem;
}
.fa-chevron-circle-right {
    font-size: 3rem;
}
.partner-btn {
    background-color: #fff;
    border: none;
}
.all-partners {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px;
    margin-top: 150px;
    /* border: 1px solid #000; */
    width: 100%;
    height: 100px;
}
.partners {
    /* border: 1px solid #000; */
    background-color: #e1e1e1;
}
.contact-main {
    width: 100%;
    height: 90vh;
    /* border: 1px solid #000; */
    background-repeat: no-repeat;
    background-image: url("/images/01_Pondit_Homepage_contact_map.png");
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid #000; */
}
.location {
    /* border: 1px solid #000; */
    width: 90%;
    height: 70vh;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    background: #ffffff;
    -webkit-box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
}
.contact-us {
    /* border: 1px solid #000; */
    width: 100%;
    height: 70vh;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    background: #ffffff;
    -webkit-box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
}
.contact-title1 {
    color: #0288d1;
    font-weight: 400;
}
.about-location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.fa-location-arrow {
    font-size: 1.3rem;
}
.fa-phone {
    font-size: 1.3rem;
}
.fa-envelope {
    font-size: 1.3rem;
    margin-bottom: 70px;
}
.contact-title2 {
    color: #0288d1;
    font-weight: 400;
}
.sub-input-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.form__label {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
}

.form__input {
    font-family: "Roboto", sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    border: 1px solid #ebebeb;
}

.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.submit-btn {
    font-family: "Ubuntu", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 170px;
    height: 40px;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 3px solid #8c82fc;
    background: #fff;
    color: #8c82fc;
    border-radius: 40px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.35s;
}

.submit-btn:hover {
    background: #8c82fc;
    color: #fff;
}

.submit-btn .submit-span {
    opacity: 1;
    visibility: visible;
    transition: all 0.35s;
}

.success {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s;
}

.success svg {
    width: 20px;
    height: 20px;
    fill: yellowgreen;
    transform-origin: 50% 50%;
    transform: translateY(-50%) rotate(0deg) scale(0);
    transition: all 0.35s;
}

.submit-btn.is_active {
    width: 40px;
    height: 40px;
}

.submit-btn.is_active .success {
    opacity: 1;
    visibility: visible;
}

.submit-btn.is_active .success svg {
    margin-top: 50%;
    transform: translateY(-50%) rotate(720deg) scale(1);
}

.submit-btn.is_active .submit-span {
    opacity: 0;
    visibility: hidden;
}
.footer-main {
    position: relative;
    top: -50px;
    width: 100%;
    height: 45vh;
    /* border: 1px solid #000; */
    background-image: url("/images/01_Pondit_Homepage_footer_bg.png");
    background-repeat: no-repeat;
    background-position: 50% 10%;
}
.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Mobile version start */

/* Mobile version end */
@media only screen and (max-width: 1850px) {
    .homepage-content-special {
        width: 100%;
        height: 110vh;
    }
    .one-off {
        position: relative;
        top: 200px;
        left: 85px;
    }
    .two-off {
        position: relative;
        top: 100px;
        left: 130px;
    }
    .three-off {
        position: relative;
        top: 650px;
        right: 70px;
    }
    .four-off {
        position: relative;
        top: 600px;
        right: 65px;
        width: 100%;
    }
    .homepage-content-career-main-homepage {
        width: 100%;
        height: 90vh;
        position: relative;

        overflow: hidden;
    }
    .assess-main {
        position: relative;
        margin-top: -100px;
        z-index: 1;
    }
    .assess-title {
        margin-left: -40px;
    }
    .assess-main-img {
        position: relative;
        /* z-index: 7; */
        left: 300px;
    }
    .pencil_man {
        margin-top: 60px;
    }
    .skill-main {
        position: relative;
        margin-top: 200px;
        z-index: -1;
        height: 70vh;
    }
    .skill-main-title {
        margin-left: -40px;
    }
    .student-main {
        height: 72vh;
    }
    .contact-main {
        height: 92vh;
    }
    .location {
        height: 80vh;
    }
    .contact-us {
        height: 80vh;
    }
}

@media only screen and (max-width: 1750px) {
    .homepage-content-special {
        max-width: 100%;
    }
    .assess-title {
        position: relative;
        left: 850px;
    }
    .one-off {
        position: relative;
        top: 200px;
        left: 140px;
    }
    .two-off {
        position: relative;
        top: 100px;
        left: 190px;
    }
    .three-off {
        position: relative;
        top: 650px;
        right: 10px;
    }
    .four-off {
        position: relative;
        top: 600px;
        right: 6px;
        width: 100%;
    }
    .assess-main-img {
        position: relative;
        left: 250px;
    }
    .pencil_man {
        margin-right: 100px;
    }
    .line_4 {
        position: relative;
        right: -455px;
    }
    .skill-title {
        position: relative;
        left: 620px;
    }
    .student-1 {
        position: relative;
        left: 30px;
    }
    .student-2 {
        margin-left: 150px;
    }
}
@media only screen and (max-width: 1650px) {
    .assess-title {
        position: relative;
        left: 785px;
    }
    .one-off {
        position: relative;
        top: 200px;
        left: 50px;
    }
    .two-off {
        position: relative;
        top: 100px;
        left: 100px;
    }
    .three-off {
        position: relative;
        top: 650px;
        right: 110px;
    }
    .four-off {
        position: relative;
        top: 600px;
        right: 100px;
        width: 100%;
    }
    .assess-title {
        position: relative;
        left: 790px;
    }
    .assess-main-img {
        position: relative;
        left: 190px;
    }
    .skill-title {
        position: relative;
        left: 570px;
    }
    .line_4 {
        position: relative;
        right: -450px;
    }
    .student-second {
        position: relative;
        left: -10px;
    }
    .student-2 {
        position: relative;
        left: -100px;
    }
}
@media only screen and (max-width: 1450px) {
    .homepage-content-special {
        margin-top: -80px;
    }
    .one-off {
        position: relative;
        top: 200px;
        left: 190px;
    }
    .two-off {
        position: relative;
        top: 130px;
        left: 140px;
    }
    .three-off {
        position: relative;
        top: 550px;
        right: 150px;
    }
    .four-off {
        position: relative;
        top: 500px;
        right: 230px;
        width: 100%;
    }
    .grow-main-para {
        width: 300px;
    }
    .grow-para {
        /* border: 1px solid #000; */
        margin-left: 100px;
    }
    .grow-para-sub-1 {
        position: relative;
        left: 150px;
    }
    .specia-home-bg {
        width: 100%;
    }
    .assess-main-img {
        position: relative;
        left: 90px;
        top: -10px;
    }
    .assess-title {
        position: relative;
        left: 695px;
        top: 20px;
    }
    .access-two {
        margin-top: 70px;
    }
    .skill-main {
        height: 80vh;
    }
    .skill-title {
        position: relative;
        left: 450px;
        top: 90px;
    }
    .skill-description {
        position: relative;
        top: 50px;
    }
    .skill-slides {
        position: relative;
        top: 50px;
    }
    .student-1 {
        width: 90%;
        margin-left: 80px;
    }
    .line_4 {
        position: relative;
        right: -420px;
        top: -140px;
    }
}

@media only screen and (max-width: 1366px) {
    /* .main-2 {
        display: none;
    } */
    .homepage-content-special {
        margin-top: -112px;
    }
    .one-off {
        position: relative;
        top: 220px;
        left: 145px;
    }
    .two-off {
        position: relative;
        top: 160px;
        left: 125px;
    }
    .three-off {
        position: relative;
        top: 550px;
        right: 120px;
    }
    .four-off {
        position: relative;
        top: 520px;
        right: 170px;
        width: 100%;
    }
    .grow-para {
        position: relative;
        left: 0px;
    }
    .grow-para-sub-1 {
        position: relative;
        left: 110px;
    }
    .career-image3 {
        position: relative;
        right: 20px;
    }
    .assess-main-img {
        position: relative;
        left: 20px;
        top: -35px;
    }
    .assess-title {
        position: relative;
        left: 630px;
        /* font-size: 2rem; */
        top: -10px;
    }
    .skill-title {
        /* font-size: 2rem; */
        top: 35px;
        position: relative;
        left: 385px;
    }
    .line_4 {
        position: relative;
        right: -350px;
        top: -190px;
    }
    .all-slides {
        width: 500px;
    }
}

@media only screen and (max-width: 1300px) {
    /* .main-2 {
        display: none;
    } */
    .homepage-content-special {
        margin-top: -128px;
    }
    .homepage-content-career-main-homepage {
        margin-top: -130px;
    }
    .one-off {
        position: relative;
        top: 220px;
        left: 165px;
    }
    .two-off {
        position: relative;
        top: 160px;
        left: 140px;
    }
    .three-off {
        position: relative;
        top: 550px;
        right: 120px;
    }
    .four-off {
        position: relative;
        top: 520px;
        right: 190px;
        width: 100%;
    }
    .grow-para {
        position: relative;
        left: 0px;
    }
    .grow-para-sub-1 {
        position: relative;
        left: 110px;
    }
    .career-title {
        width: 500px;
        font-size: 2rem;
    }
    .career-image1 {
        margin-left: -110px;
        margin-top: 170px;
    }
    .career-image2 {
        width: 450px;
    }
    .career-image3 {
        position: relative;
        right: 70px;
    }
    .assess-main {
        margin-top: -50px;
    }
    .assess-main-img {
        position: relative;
        left: 20px;
        top: -35px;
    }
    .assess-title {
        position: relative;
        left: 630px;
        font-size: 2rem;
        top: -10px;
    }
    .access-one {
        margin-left: -100px;
    }
    .access-two {
        margin-top: 60px;
    }
    /* .access-core {
        margin-top: -50px;
    } */
    .skill-title {
        font-size: 2rem;
        top: 35px;
        position: relative;
        left: 385px;
    }
    .all-slides {
        width: 500px;
    }
    .skill_svg {
        width: 350px;
        margin-left: -100px;
    }
    .student-main {
        margin-top: -80px;
    }
    .student-title {
        font-size: 1.9rem;
    }
    .line_4 {
        position: relative;
        right: -220px;
        top: -190px;
    }
    .contact-title1 {
        font-size: 2rem;
    }
    .contact-us {
        width: 550px;
    }
    .contact-title2 {
        font-size: 2rem;
    }
}
@media only screen and (max-width: 450px) {
    .main {
        display: none;
    }
    /* .main-2 {
        display: visibility;
    } */
    .header-2 {
        width: 100%;
        height: 15vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0px;
        /* border: 1px solid #000; */
        margin: 0;
    }
    .header-sub-1 {
        background-image: url("/images/01_Pondit_Homepage-secondary-logo2.png");
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: contain;
        position: relative;
        right: 30px;
    }

    .login1-btn {
        background-color: #fff;
        border: none;
        color: #637280;
        position: relative;
        right: 15px;
    }
    .submit1-btn {
        background-color: #fff;
        border: none;
        color: #0288d1;
        border: 1px solid #0288d1;
        padding: 8px 13px 8px 13px;
        border-radius: 30px;
        /* font-weight: bold; */
    }
    .homepage-main-2 {
        width: 100%;
        height: 100vh;
        background-image: url(/images/01_Pondit_Homepage_Phn_Home_Background_image.png);
        background-repeat: no-repeat;

        object-fit: cover;
        /* border: 1px solid #000; */
    }
    .homepage-sub-main {
        display: grid;
        grid-template-columns: 10% 90%;
    }
    .career-phn-title {
        color: #ea9722;
    }
    .sponsorship-phn-title {
        color: #eb483d;
    }
    .internship-phn-title {
        color: #1abdd4;
    }
    .software-phn-title {
        color: #54b947;
    }
    /* .about-us-heading {
        border-bottom: 1px solid #000;
    } */
    .about-us-page {
        width: 100%;
        height: 100vh;
        /* border: 1px solid #000; */
        position: relative;
        bottom: 130px;
        font-size: 1.5rem;
    }
    .horizontail-row {
        position: relative;
        bottom: 10px;
        width: 10%;
        color: #0288d1;
        font-weight: bold;
    }
    .about-us-main-title {
        color: #0288d1;
    }
    .courses-section-main {
        width: 100%;
        height: 100vh;
    }
    .courses-card-main {
        width: 100%;
        height: 78vh;
        /* border: 1px solid #000; */
        -webkit-border-radius: 9px;
        border-radius: 9px;
        background: #ffffff;
        -webkit-box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
        box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
        padding: 20px;
    }
    .courses-heading {
        color: #0288d1;
    }
    .fa-clock {
        color: #0288d1;
    }
    .category-section-main {
        width: 100%;
        height: 220vh;
        /* border: 1px solid #000; */
    }
    .category-title {
        color: #0288d1;
    }
    .all-courses-phn {
        width: 100%;
        border: 1px solid #dfdfdf;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* margin-bottom: 40px; */
    }
    .courses-all-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .ourses-icons {
        width: 50px;
        margin-top: 20px;
    }
    .seip-main {
        position: relative;
        bottom: 200px;
        width: 100%;
        height: 40vh;
        /* border: 1px solid #000; */
        background-color: #07294e;
        color: white;
    }
    .seip-title {
        position: relative;
        top: 50px;
        margin-bottom: 80px;
    }
    .scholarship-main {
        position: relative;
        bottom: 250px;
        width: 100%;
        height: 40vh;
        /* border: 1px solid #000; */
        background-color: #092f56;
        color: white;
    }
    .scholarship-title {
        position: relative;
        top: 50px;
        margin-bottom: 80px;
    }
    .admin-main {
        width: 100%;
        height: 124vh;
        /* border: 1px solid #000; */
        position: relative;
        bottom: 250px;
        background-image: url("/Pondit-home-page-image-for-phone/admin-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        object-fit: center;
        background-size: 400px 915px;
        background-attachment: fixed;
        filter: grayscale(100%);
    }
    .admin-sub-all {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
        color: white;
        border-bottom: 1px solid #fff;
    }
    .fa-user-graduate {
        margin-bottom: 20px;
        font-size: 5rem;
        margin-top: 50px;
    }
    .fa-book-reader {
        margin-bottom: 20px;
        font-size: 5rem;
    }
    .fa-chalkboard-teacher {
        margin-bottom: 20px;
        font-size: 5rem;
    }
    .fa-award {
        margin-bottom: 20px;
        font-size: 5rem;
    }
    .mentors-main {
        width: 100%;
        height: 320vh;
        /* border: 1px solid #000; */
    }
    .mentor-list {
        list-style: none;
    }
    .mentor-cards {
        width: 100%;
        height: 50vh;
        background-image: url("https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg");
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .success-story {
        width: 100%;
        height: 250vh;
        /* border: 1px solid #000; */
        position: relative;
        bottom: 150px;
    }

    /* ////////////// */

    h3 {
        margin: 10px 0;
    }

    h6 {
        margin: 5px 0;
        text-transform: uppercase;
    }

    p {
        font-size: 14px;
        line-height: 21px;
    }

    .card-container {
        background-color: #231e39;
        border-radius: 5px;
        box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
        color: #b3b8cd;
        padding-top: 30px;
        position: relative;
        width: 350px;
        max-width: 100%;
        text-align: center;
    }

    .card-container .pro {
        color: #231e39;
        background-color: #febb0b;
        border-radius: 3px;
        font-size: 14px;
        font-weight: bold;
        padding: 3px 7px;
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .card-container .round {
        border: 1px solid #03bfcb;
        border-radius: 50%;
        padding: 7px;
    }

    button.primary {
        background-color: #03bfcb;
        border: 1px solid #03bfcb;
        border-radius: 3px;
        color: #231e39;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        padding: 10px 25px;
    }

    button.primary.ghost {
        background-color: transparent;
        color: #02899c;
    }

    .skills {
        background-color: #1f1a36;
        text-align: left;
        padding: 15px;
        margin-top: 30px;
    }

    .skills ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .skills ul li {
        border: 1px solid #2d2747;
        border-radius: 2px;
        display: inline-block;
        font-size: 12px;
        margin: 0 7px 7px 0;
        padding: 7px;
    }
    .branding-main-content {
        width: 100%;
        height: 40vh;
        /* border: 1px solid #000; */
        position: relative;
        bottom: 400px;
    }
    .core-container-car {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
